.auth_container {
  @apply bg-green-50 dark:bg-[color:var(--dark-color)];
}

.title {
  @apply text-3xl font-bold text-center dark:text-[color:var(--primary-color)] text-[color:var(--primary-light-color)];
  font-weight: 700;
  font-family: "Raleway", "Ubuntu", sans-serif;
}
.container {
  @apply h-screen;
  display: grid;
  grid-template-columns: 4fr 3fr;
}
.wrapper {
  @apply border bg-white dark:bg-[color:var(--secondary-dark-color)] dark:text-white border-gray-300 dark:border-[color:var(--primary-color)] shadow-xl py-5 px-8 rounded-lg w-full max-w-[25rem];
}

.text {
  @apply text-lg text-center;
  font-family: "ubuntu", sans-serif;
  color: var(--secondary-text-color);
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
  }
}
