.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
