.nav {
  @apply shadow-lg border-b border-gray-100 sticky top-0 z-50 backdrop-blur-md;
  /* background-color: var(--dark-color); */
}
.logo {
  @apply text-4xl font-extrabold p-1;
  font-family: "Pacifico", cursive, sans-serif;
  font-weight: 700;
  color: var(--primary-color);
}
