@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #2fe48d;
  --dark-color: #090e14;
  --secondary-dark-color: #181c23;
  --ternary-dark-color: #10151b;
  --dark-secondary-text-color: #9ea1ac;
}
