@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-color: #2fe48d;
    --primary-light-color: #16a34a;
    --dark-color: #090e14;
    --secondary-dark-color: #181c23;
    --ternary-dark-color: #10151b;
    --silent-text-color: #9ea1ac;
    --text-color: #ffffff;
    --input-bg-color: #f3f6f8;
    --solid-btn-color: #00ddb3;
    --hover-color: #00c1a2;
    --dark-text-color: #181c23;
  }
}

.solid-btn {
  @apply bg-[color:var(--primary-light-color)] text-[color:var(--text-color)] hover:opacity-90 dark:bg-[color:var(--primary-color)] dark:text-[color:var(--dark-text-color)];
}

.outline-btn {
  @apply text-[color:var(--primary-light-color)] hover:text-[color:var(--text-color)] border border-[color:var(--primary-light-color)] hover:bg-[color:var(--primary-light-color)] dark:text-[color:var(--primary-color)] dark:hover:text-[color:var(--dark-text-color)] dark:hover:bg-[color:var(--primary-color)] dark:border-[color:var(--primary-color)];
}
